@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    background-color: black;
    width: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 100vh;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: purple;
    border-radius: 100vh;
  }

  .ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }

  .ripple div {
    animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  @keyframes ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  #modal::backdrop {
    background: hsl(0 0% 0% / 0.5);
    filter: blur(50px);
    -webkit-filter: blur(50px);
    -moz-filter: blur(8px);
  }
}
