@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* .scrollbar::-webkit-scrollbar { */
  /*   background-color: white; */
  /*   width: 10px; */
  /* } */

  /* .scrollbar::-webkit-scrollbar-track { */
  /*   border-radius: 100vh; */
  /*   background-color: transparent; */
  /* } */

  /* .scrollbar::-webkit-scrollbar-thumb { */
  /*   background-color: transparent; */
  /*   border-radius: 100vh; */
  /* } */
  /* .scrollbar::-webkit-scrollbar-thumb:hover { */
  /*   background: #d4d4d8; */
  /*   border-radius: 100vh; */
  /* } */

  #logo {
    position: fixed;
    top: -100%;
    right: -100%;
    left: -100%;
    bottom: -100%;
    margin: auto;
  }

  #bg {
    background: radial-gradient(ellipse at top, #e66465, transparent),
      radial-gradient(ellipse at bottom, #4d9f0c, transparent);
  }
  #logo {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    animation: beat 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }

  @keyframes beat {
    0% {
      opacity: 0.1;
      filter: blur(4px);
    }
    50% {
      opacity: 0.6;
      filter: blur(0px);
    }
    100% {
      opacity: 0.1;
      filter: blur(4px);
    }
  }

  #modal::backdrop {
    background: hsl(0 0% 0% / 0.5);
  }
}
